[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
ansible = "==2.9.6"
molecule = "==3.0.2"
molecule-vagrant = "==0.2"
python-vagrant = "==0.5.15"
testinfra = "==5.0.0"

[requires]
python_version = "3.7"
