{{ ansible_managed }}
#####
# Matterbridge configuration
# WARNING: as this file contains credentials, be sure to set correct file permissions
# https://github.com/42wim/matterbridge/wiki/How-to-create-your-config
# https://github.com/42wim/matterbridge/wiki/Settings
#####
