{{ website_host }} {{ website_onion_v2 }}:80 {{ website_onion_v3 }}:80 localhost:80 {
    root {{ caddy_website_root }}
    log requests.log {
        {{ caddy_log_ipmask }}
    }
    gzip

  {% if le_staging|default(false)|bool == true %}
    tls off
  {% else %}
    tls {{ le_email }}
  {% endif %}

}

{% if git_webhook_enabled|default(false)|bool == true %}
git {{ hugo_website_git_repo }} {
    hook {{ git_webhook }} "{{ git_webhook_secret }}"
    then {{ update_website_script_path }}
}
{% endif %}
