version: '2'
services:
  website:
    image: caddy:local
    #build: # disabled
    #  context: .
{% if le_staging|default(false)|bool == true %}
    command: ["-conf", "{{ caddy_docker_volume }}/Caddyfile", "-agree",
      "-ca", "https://acme-staging-v02.api.letsencrypt.org/directory"]
{% else %}
    command: ["-conf", "{{ caddy_docker_volume }}/Caddyfile", "-agree"]
{% endif %}
    ports:
      - 80:80/tcp
      - 443:443/tcp
    volumes:
      - "{{ caddy_path }}:{{ caddy_docker_volume }}"
    restart: always
