[Service]

WorkingDirectory={{ caddy_website_root }}

{% if le_staging|default(false)|bool == true %}
ExecStart= {{ caddy_install_path }} -conf {{ caddy_path }}/Caddyfile -agree -ca https://acme-staging-v02.api.letsencrypt.org/directory
{% else %}
ExecStart= {{ caddy_install_path }} -conf {{ caddy_path }}/Caddyfile -agree
{% endif %}

Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=notell
User=caddy
Group=caddy

[Install]

WantedBy=multi-user.target
