// Managed by Ansible

// Controls which packages are upgraded
Unattended-Upgrade::Origins-Pattern {
        "origin=Debian,codename=${distro_codename},label=Debian";
        "origin=Debian,codename=${distro_codename},label=Debian-Security";
};

{% if unattended_minimal_steps %}
Unattended-Upgrade::MinimalSteps "true";
{% endif %}

{% if unattended_mail %}
Unattended-Upgrade::Mail "{{ admin_email }}"; //TODO
{% endif %}

{% if unattended_mail_only_on_error %}
Unattended-Upgrade::MailOnlyOnError "true";
{% endif %}

{% if unattended_dl_limit is defined %}
Acquire::http::Dl-Limit "{{ unattended_dl_limit }}";
{% endif %}
