# {{ ansible_managed }}

account {{ msmtp_host }}
host {{ msmtp_host }}
port {{ msmtp_port }}
from {{ sysupdate_email }}
user {{ sysupdate_email }}
password {{ sysupdate_email_pwd }}
tls on
auth on

account default : {{ msmtp_host }}
syslog on
