# File managed by Ansible
#####
# This is configuration for matterbridge.
# WARNING: as this file contains credentials, be sure to set correct file permissions
# https://github.com/42wim/matterbridge/wiki/How-to-create-your-config for how to create your config
# https://github.com/42wim/matterbridge/wiki/Settings for all settings
#####

[matrix]

    [matrix.matrixorg]
    Server="https://matrix.org"
    Login="{{ matterbridge_matrix_nick }}"
    Password="{{ matterbridge_matrix_passwd }}"

    RemoteNickFormat="[{PROTOCOL}] <{NICK}> "

[irc]
    [irc.oftc]
    Server="irc.oftc.net:6697"
    # UseSASL=true
    Nick="{{ matterbridge_irc_nick }}"
    NickServNick="nickserv"
    NickServPassword="{{ matterbridge_nick_passwd }}"
    # ColorNicks will show each nickname in a different color.
    # Only works in IRC right now.
    ColorNick=true

[[gateway]]
name="mygateway"
enable=true
    [[gateway.inout]]
    account="irc.oftc"
    channel="#privacylx-internal"
        [gateway.inout.options]
        key="{{ matterbridge_privacylx_internal_key }}"

    [[gateway.inout]]
    account="matrix.matrixorg"
    channel="#privacylx-internal:matrix.org"

