# File managed by Ansible
#####
# Matterbridge configuration
# WARNING: as this file contains credentials, be sure to set correct file permissions
# https://github.com/42wim/matterbridge/wiki/How-to-create-your-config
# https://github.com/42wim/matterbridge/wiki/Settings
#####

[matrix]
    [matrix.matrixorg]
    Server="https://matrix.org"
    Login="{{ matterbridge_matrix_nick }}"
    Password="{{ matterbridge_matrix_passwd }}"
    RemoteNickFormat=" <{NICK}> "
    #Whether to send the homeserver suffix. eg ":matrix.org" in @username:matrix.org
    #to other bridges, or only send "username".(true only sends username)
    NoHomeServerSuffix=true

[irc]
    [irc.oftc]
{% if matterbridge_debug %}
    debuglevel=1
{% endif %}
    Server="irc.oftc.net:6697"
    Nick="{{ matterbridge_irc_nick }}"
    RunCommands=["PRIVMSG nickserv :IDENTIFY {{ matterbridge_irc_passwd }} {{ matterbridge_irc_nick }}"]
    UseTLS=true
    SkipTLSVerify=false
    RemoteNickFormat="<{NICK}> "
    # ColorNicks will show each nickname in a different color.
    # Only works in IRC right now.
    ColorNick=true
    # Split messages on MessageLength instead of showing the <message clipped>
    # WARNING: this could lead to flooding
    MessageSplit=true
    #Enable to show users joins/parts from other bridges
    #Currently works for messages from the following bridges: irc, mattermost, slack
    #OPTIONAL (default false)
    ShowJoinPart=true

[rocketchat]
    [rocketchat.d3]
    #The rocketchat hostname. (prefix it with http or https)
    Server="https://chat.direitosdigitais.pt:443"
    #login/pass of your bot. (login needs to be the login with email address! user@domain.com)
    #Use a dedicated user for this and not your own!
    #IMPORTANT: User must be a bot
    #PrefixMessagesWithNick will not work otherwise
    Login="{{ rocketchat_d3_login }}"
    Password="{{ rocketchat_d3_passwd }}"
    #Whether to prefix messages from other bridges to rocketchat with the
    #sender's nick. Useful if username overrides for incoming webhooks isn't
    #enabled on the rocketchat server. If you set PrefixMessagesWithNick to
    #true, each message from bridge to rocketchat will by default be prefixed by
    #the RemoteNickFormat setting.
    #If you're using login/pass you can better enable because of this bug:
    #https://github.com/RocketChat/Rocket.Chat/issues/7549
    #OPTIONAL (default false)
    PrefixMessagesWithNick=false
    RemoteNickFormat="[{PROTOCOL}] <{NICK}> "

[mattermost]
    [mattermost.iff]
    #The mattermost hostname. (do not prefix it with http or https)
    Server="community.internetfreedomfestival.org:443"
    #the team name as can be seen in the mattermost webinterface URL
    #in lowercase, without spaces
    Team="community"
    #login/pass of your bot.
    #Use a dedicated user for this and not your own!
    Login="{{ mattermost_iff_login }}"
    Password="{{ mattermost_iff_passwd }}"
    RemoteNickFormat="[{PROTOCOL}] <{NICK}> "
    PrefixMessagesWithNick=true

# This must always be [[gateway]], don't use anything else.
[[gateway]]
name="privacylx_gateway"
enable=true
inout = [
    # IRC <-> Matrix bridge
    { account="matrix.matrixorg", channel="#privacylx-internal:matrix.org" },
    { account="irc.oftc", channel="#privacylx-internal", options={key="{{ matterbridge_oftc_key }}"}},
]

[[gateway]]
name="privacylx_pub_gateway"
enable=true
inout = [
    # Matrix <-> Rocket.Chat bridge
    { account="matrix.matrixorg", channel="#privacylx:matrix.org" },
    { account="rocketchat.d3", channel="#privacylx" },
    { account="mattermost.iff", channel="privacylx" },
]
