[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
# https://pypi.org/project/ansible/
ansible = "==5.0.1"
# https://pypi.org/project/molecule/#history
molecule = "==3.5.2"
# https://github.com/ansible-community/molecule-vagrant/releases
molecule-vagrant = "==1.0.0"
# https://pypi.org/project/python-vagrant/#history
python-vagrant = "==0.5.15"
# https://pypi.org/project/testinfra/#history
testinfra = "==6.0.0"
