[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
# https://pypi.org/project/ansible/
ansible = "==2.11.1"
# https://pypi.org/project/molecule/#history
molecule = "==3.0.8"
# https://github.com/ansible-community/molecule-vagrant/releases
molecule-vagrant = "==0.3"
# https://pypi.org/project/python-vagrant/#history
python-vagrant = "==0.5.15"
# https://pypi.org/project/testinfra/#history
testinfra = "==5.3.1"

[requires]
python_version = "${TRAVIS_PYTHON_VERSION}"
