[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
# https://pypi.org/project/ansible/
ansible = "*"
# https://pypi.org/project/molecule/#history
molecule = "*"
# https://github.com/ansible-community/molecule-vagrant/releases
molecule-vagrant = "*"
# https://pypi.org/project/python-vagrant/#history
python-vagrant = "*"
# https://pypi.org/project/testinfra/#history
testinfra = "*"

[requires]
python_version = "${TRAVIS_PYTHON_VERSION}"
