{% if (onion_services['privacylx-website-v2']|default('present') and onion_services['privacylx-website-v3']|default('present')) != 'absent' %}
{{ website_host }} www.{{ website_host }} http://{{ onion_services['privacylx-website-v2']['onion_hostname'] }} http://{{ onion_services['privacylx-website-v3']['onion_hostname'] }} {
{% else %}
{{ website_host }} www.{{ website_host }} {
{% endif %}
    root {{ website_public }}
    log / stdout {
        {{ caddy_log_ipmask }}
    }
    gzip
    tls {{ le_email }}
    git {
{% if caddy_git_interval %}
    interval {{ caddy_git_interval }}
{% endif %}
    repo {{ website_git }}
    clone_args --recurse-submodules
    pull_args --recurse-submodules -s recursive -X theirs
    path {{ website_docker_webroot }}
    then_long hugo --watch --destination={{ website_public }}
    }
}
